#redline {
    background-color: rgb(220,53,69,255);
    position: absolute;
    left: 0;
    margin-top: 40px;
    height: 15px;
    width: 100%;
    z-index: -1;
}

h1 {
    position: relative;
    left: 1170px;
    z-index: -1;
}

.middle {
    margin-left: 21%;
}